.accounts-container {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: var(--app-max-width);
    margin: var(--app-margin);
    padding: 20px;
    box-sizing: border-box;    
    height: 100%;
}


.view-account-actions-container {
    margin: 20px auto;
        height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-account-actions-container img {
            height: 25px;

}

.accounts-logo-container {
    padding: 0px 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.accounts-header-text {
    font-size: 36px;
}

.accounts-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.new-account-icon {
    vertical-align: center;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.new-account-icon img {
    position: absolute;
    transform: translate(-100%,-50%);
    top: 50%;
    left: 50%;
}

.all-accounts-container {
    display: flex;
    flex-direction: column;
}

.view-accounts-container {
    cursor: pointer;    
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding: 5px 30px;
    background-color: #c4c4c4;
}

.view-accounts-container:hover {
    background-color: #7f8686;
}

.account-transaction-exerpt-note {

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.account-transaction-exerpt-date {
    width: 30px;
}

.account-transaction-button-container {
    padding: 0px 30px;
    box-sizing: border-box;
    background-color: #c4c4c4;
    height: 38px;
    margin: 10px 0px;
}

.account-transaction-button-container .button-container {
    font-size: 16px;
    margin: 0px auto;
    border-radius: 5px;
}

.account-transaction-button-container  a {
    text-decoration: none;
    color: inherit;
}