:home {
    --max-width: 600px;
}

.home-page-one-container {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

.home-page-one-container .home-logo-container{
margin: 0px auto;
width: 100%;
}

.home-page-one {
    height: calc(100vh - 40px);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: var(--app-max-width);
    margin: 0 auto;
    box-sizing: border-box;
}

.home-page-one > div {
/*    padding-left: 20px;
    padding-right: 20px;*/
    max-width: var(--home-page-one-max-width);
}

.home-center-container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 100%;
}


.home-text-container {
    width: 100%;
    font-size: 36px;
    top: 35%;
    color: #ffffff;
    box-sizing: border-box;
}

.home-text-header {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}

.home-text-subheader {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.home-text-container {
    margin-bottom: 20px;
}

.home-page-one .home-button {
    color: white;
    max-width: var(--home-page-one-max-width);
}

.home-button a {
    text-decoration: none;
    color: inherit;
}


.home-footer-container {
    color: white;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    margin: 0px auto;
}

.home-triangle-container {
    text-align: center;
}

.home-triangle {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #0B4983;
    margin: 20px auto;
}

.home-page-2-container {
    background-color: white;
    height: 100vh;
}

.home-page-two {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.home-page-two .home-button {
    margin: 0px auto 0px auto;
    width: 100%;
    max-width: var(--home-page-two-max-width)
}

.home-page-two .home-button .button-container {
    margin-bottom: 0px;
}

.page-two-header-container {
    font-size: 36px;
    align-self: center;
    color: #494545;
    margin-bottom: 10px;
}

.how-it-works-icon {
    text-align: center;
}

.how-it-works-icon > img {
    height: 70px;
    width: 70px;
}

.how-it-works-header {
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
}

.how-it-works-container {
    flex-direction: column;
    justify-content: center;
}



.how-it-works-container > .how-it-works  {
    margin: 25px auto;
    max-width: var(--home-page-two-max-width);
    text-align: center;
}

.how-it-works > div {
    margin: 10px 0px;
}

.how-it-works-body {
    color: #494545;
}

@media only screen and (min-width: 768px) {
    .how-it-works-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 1em;
    }

    .how-it-works-container > .how-it-works  {
        margin: 20px 15px;
        max-width: 200px;
    }

}