.paginator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.paginator-action-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.paginator-action-containers img {
    height: 25px;
    width: 25px;
}

.paginator-info {
    color: #767676;
    margin: auto;
}

.paginator-action-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.paginator-disabled-icon {
    cursor: default;
}