.view-account-container {
    font-family: 'Roboto', sans-serif;
    max-width: var(--app-max-width);
    margin: var(--app-margin); 
    box-sizing: border-box;
    height: 100%;    
}

.view-account-container-one-footer {
    margin-bottom: 49px;
}

.view-account-logo-container {
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.account-balance {
    margin: auto 0px;
    color: #12a64d;
}

.view-account-header-container {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 10px;
}

.account-description-container {
    margin-bottom: 10px;
}

.modify-account-container {
    display: flex;
    color: white;
}

.modify-account-button-container {
    width: 100%;
}

.modify-account-button-container a {
    text-decoration: none;
}

.button-text {
    font-size: 18px;
    color: white;    
}

.view-account-transaction-container {
    background-color: #c4c4c4;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 5px 30px;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
}

.view-account-transaction-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.view-account-transaction-note{
    position: relative;
    display: inline-block;
}

.view-account-transaction-note {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    width: inherit;
    align-content: flex-end;
}

.modify-account-transaction-floating-buttons {
    max-width: var(--app-max-width);
    position: sticky;
    width: 100%;
    bottom: 0px;
    padding: 0px !important;
    margin: auto;
}

.modify-account-transaction-floating-buttons a {
    text-decoration: none;
    width: 100%;
}

.modify-account-transaction-floating-buttons .button-container {
    display: block;
    botton: 0px;
    margin: 0px;
}

.selected-transaction {
    background-color: #7f8686;
}

.selectable-transaction {
    cursor: pointer;
}
