.view-account-container {
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    height: calc(100vh - var(--header-height));
}

.view-account-container > div {
    padding: 20px;
    font-family: 'Roboto', sans-serif;

}

.view-account-body-container {
    max-width: var(--app-max-width);
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    margin: 0px auto;
    width: 100%;
}

.view-account-logo-container {
    margin-top: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.account-balance {
    margin: auto 0px;
    color: #12a64d;
}


.account-description-container {
    margin-bottom: 10px;
}

.toggle-switch-container {
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toggle-switch-container span {
    margin: auto 0px;
}

.button-text {
    font-size: 18px;
    color: white;    
}

.view-account-transaction-container {
    background-color: #c4c4c4;
    position: relative;
    width: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
}

.view-account-transaction-header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.view-account-transaction-note {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    width: inherit;
    align-content: flex-end;
}

.view-account-transaction-date-container {
    margin: 20px auto;
}

.view-account-transaction-date {
    font-weight: 700;
    margin-bottom: 5px;
}

.view-account-transaction-body {
    display: flex;
    flex-direction: row;
}

.modify-account-transaction-floating-buttons {
    max-width: var(--app-max-width);
    position: sticky;
    width: 100%;
    bottom: 0px;
    padding: 0px !important;
    margin: auto;
}

.modify-account-transaction-floating-buttons a {
    text-decoration: none;
    width: 100%;
}

.modify-account-transaction-floating-buttons .button-container {
    display: block;
    margin: 0px;
}

.selected-transaction {
    background-color: #7f8686;
}

.selectable-transaction {
    cursor: pointer;
}
