    .button-container {
        width: 100%;
        background-color: var(--secondary-color);
        padding: 10px;
        text-align: center;
        font-size: 24px;
        font-weight: 300;
        margin: 20px 0px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .button-text {
        display: inline;
        text-align: center;
    }