.button-container {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin: 20px 0px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-color);
}

.button-secondary {
    background-color: var(--secondary-color);
}

.button-text {
    display: inline;
    text-align: center;
}
