.logo-container {
    cursor: pointer;
}

.header-container {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    background-color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.header-sub-container {
    display: flex;
    max-width: 600px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
}

.login-button-container {
    height: 15px;
    margin: auto 0;
    padding: 8px 8px;
    border: 1.5px solid #cf8414;
    color: #cf8414;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.login-button-container div {
    line-height: 15px;
}

.login-button-container:hover {
    color: white;
    background-color: var(--secondary-color);
}

.home-button-container {
    font-family: 'Roboto', sans-serif;
    margin: auto 0px;
}

.home-button-container > a {
    height: 100%;
    display: block;
}

.home-button-container img {
    vertical-align: middle;
}