.flash-messages-container {
    position: absolute;
    height: 30px;
    width: 100%;
    z-index: var(--flash-message-z-index);
    color: white;
}

.flash-message-container {
    padding: 10px 20px;
    border-bottom: .5px solid white;
}

.flash-message-container > .flash-message-sub-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.flash-message-sub-container {
    max-width: 600px;
    height: 100%;
    margin: 0px auto;
}

.close-message-icon {
    float: right;
    cursor: pointer;
}

.close-message-icon .icon-container {
    display: flex;
}

.close-message-icon img {
    align-self: center;
    height: 15px;

}
